# Data Cleaning

## Import Libraries

In [3]:
import pandas as pd
import Functions_Books as funct
import glob

## Concat and save files with scraped data

In [19]:
databeforecleaning= pd.DataFrame([])

for file_name in glob.glob(r'C:\Users\anton\Ironhack\Final Project\DataScraped\*.csv'):
    df = pd.read_csv(file_name)
    print(file_name)
    databeforecleaning= pd.concat([databeforecleaning,df],ignore_index=True)

databeforecleaning.to_csv(r'c:\Users\anton\Desktop\data_beforecleaning.csv',index=None, header=True)

C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{1-4}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{10-14}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{15-19}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{20-24}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{25-29}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{30-34}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{35-39}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{40-44}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{45-49}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{5-9}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{50-54}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{55-59}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{60-64}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{65-69}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{70-74}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{75-79}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{80-84}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{85-89}.csv
C:\Users\anton\Ironhack\Final Project\DataScraped\df_alldetails{90-94}.csv

## Import and check Dataframe

In [47]:
rawdata =pd.read_csv(r'DataFinal\scraped_concat.csv')
cleaningdata = rawdata.copy()
cleaningdata.head()

,title,series,authors,isbn,genres,description,pages,year,language,cover_image,total_number_ratings,average_rating,book_url
0,To Kill a Mockingbird,To Kill a Mockingbird,['Harper Lee'],1439550417.0,"['Classics', 'Fiction', 'Historical', 'Histori...",The unforgettable novel of a childhood in a sl...,324,1960,English,https://i.gr-assets.com/images/S/compressed.ph...,"5,011,381",4.27,https://www.goodreads.com/book/show/36529.Narr...
1,Harry Potter and the Sorcerer's Stone,Harry Potter #1,['J.K. Rowling'],NaN,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",Harry Potter's life is miserable. His parents ...,309,1997,English,https://i.gr-assets.com/images/S/compressed.ph...,"8,003,482",4.47,https://www.goodreads.com/book/show/36529.Narr...
2,NaN,None,None,NaN,[],None,None,1813,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/36529.Narr...
3,The Diary of a Young Girl,NaN,"['Anne Frank', 'Eleanor Roosevelt', 'Barbara M...",330107372.0,"['Nonfiction', 'Classics', 'History', 'Biograp...",Discovered in the attic in which she spent the...,283,1947,English,https://i.gr-assets.com/images/S/compressed.ph...,"3,088,199",4.16,https://www.goodreads.com/book/show/36529.Narr...
4,Animal Farm,NaN,"['George Orwell', 'Russell Baker', 'C.M. Woodh...",9780451526342.0,"['Classics', 'Fiction', 'Science Fiction', 'Dy...",Librarian's note: There is an Alternate Cover ...,141,1945,English,https://i.gr-assets.com/images/S/compressed.ph...,"3,095,756",3.97,https://www.goodreads.com/book/show/36529.Narr...

In [53]:
cleaningdata.loc[101,:]

title                                                   The Da Vinci Code
series                                                  Robert Langdon #2
authors                                                     ['Dan Brown']
isbn                                                         1400079179.0
genres                  ['Fiction', 'Mystery', 'Thriller', 'Suspense',...
description             ISBN 9780307277671 moved tothisedition.While i...
pages                                                                 489
year                                                                 2003
language                                                          English
cover_image             https://i.gr-assets.com/images/S/compressed.ph...
total_number_ratings                                            2,091,677
average_rating                                                       3.88
book_url                https://www.goodreads.com/book/show/36529.Narr...
Name: 101, dtype: object

In [22]:
cleaningdata.shape

(9400, 13)

In [23]:
cleaningdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9400 entries, 0 to 9399
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   title                 8431 non-null   object
 1   series                3771 non-null   object
 2   authors               9400 non-null   object
 3   isbn                  7917 non-null   object
 4   genres                9400 non-null   object
 5   description           8936 non-null   object
 6   pages                 9400 non-null   object
 7   year                  9350 non-null   object
 8   language              7889 non-null   object
 9   cover_image           8382 non-null   object
 10  total_number_ratings  8431 non-null   object
 11  average_rating        8431 non-null   float64
 12  book_url              9400 non-null   object
dtypes: float64(1), object(12)
memory usage: 954.8+ KB

## Clean Data for Visualization

### Check duplicates

In [52]:
duplicateRowsDF = cleaningdata[cleaningdata.duplicated(['isbn'],keep=False)]
duplicateRowsDF

,title,series,authors,isbn,genres,description,pages,year,language,cover_image,total_number_ratings,average_rating,book_url
1,Harry Potter and the Sorcerer's Stone,Harry Potter #1,['J.K. Rowling'],NaN,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",Harry Potter's life is miserable. His parents ...,309,1997,English,https://i.gr-assets.com/images/S/compressed.ph...,"8,003,482",4.47,https://www.goodreads.com/book/show/36529.Narr...
2,NaN,None,None,NaN,[],None,None,1813,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/36529.Narr...
3,The Diary of a Young Girl,NaN,"['Anne Frank', 'Eleanor Roosevelt', 'Barbara M...",330107372.0,"['Nonfiction', 'Classics', 'History', 'Biograp...",Discovered in the attic in which she spent the...,283,1947,English,https://i.gr-assets.com/images/S/compressed.ph...,"3,088,199",4.16,https://www.goodreads.com/book/show/36529.Narr...
5,The Little Prince,NaN,"['Antoine de Saint-Exupéry', 'Richard Howard']",3125971403.0,"['Classics', 'Fiction', 'Fantasy', 'Childrens'...",A pilot stranded in the desert awakes one morn...,96,1943,English,https://i.gr-assets.com/images/S/compressed.ph...,"1,609,561",4.31,https://www.goodreads.com/book/show/36529.Narr...
17,NaN,None,None,NaN,[],None,None,1964,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/36529.Narr...
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9370,Hangman's Creek,NaN,['Kol Anderson'],NaN,"['Romance', 'M M Romance', 'Horror']",Hangman’s Creek is a place where centuries ago...,123,2015,English,https://i.gr-assets.com/images/S/compressed.ph...,12,4.42,https://www.goodreads.com/book/show/18373208-t...
9371,NaN,None,None,NaN,[],None,None,2015,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/18373208-t...
9377,NaN,None,None,NaN,[],None,None,2015,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/18373208-t...
9389,The Elemental Master,NaN,['Glen Garrett'],NaN,[],NaN,0,2013,English,https://i.gr-assets.com/images/S/compressed.ph...,6,4.83,https://www.goodreads.com/book/show/18373208-t...
9394,Roommate of Fire,NaN,['Aiden Bates'],NaN,"['Romance', 'M M Romance']","A Gay Romance Erotica MMNeil, a man desperate ...",32,2015,English,https://i.gr-assets.com/images/S/compressed.ph...,43,3.37,https://www.goodreads.com/book/show/18373208-t...

### Clean Numerial Columns

#### pages (Later EDA: Replace 0 with mean)

In [24]:
cleaningdata['pages'].value_counts()

None    969
0       348
320     116
288     112
240      96
       ...
1400      1
721       1
962       1
1394      1
1144      1
Name: pages, Length: 962, dtype: int64

In [17]:
#Replace 'None' 0, EDA: Fill later with mean 
#funct.fillup_mean('pages')
funct.replace_in_column(cleaningdata,'pages','None','0')
cleaningdata['pages'].value_counts()

0      21
310     3
314     2
265     2
70      2
       ..
225     1
40      1
19      1
113     1
180     1
Name: pages, Length: 72, dtype: int64

In [18]:
cleaningdata[cleaningdata['pages'].isna()==True]

Empty DataFrame
Columns: [title, series, authors, isbn, genres, description, pages, year, language, cover_image, total_number_ratings, average_rating, book_url]
Index: []

In [ ]:
cleaningdata['pages'] = cleaningdata['pages'].fillna('0')
cleaningdata['pages'].isna().sum()

#### total_numer_ratings

In [19]:
cleaningdata['total_number_ratings'].value_counts()

1      4
6      4
4      3
17     3
5      3
      ..
559    1
105    1
345    1
109    1
252    1
Name: total_number_ratings, Length: 64, dtype: int64

In [20]:
cleaningdata['total_number_ratings'].isna().sum()

11

In [21]:
cleaningdata[cleaningdata['total_number_ratings'].isna()==True]

,title,series,authors,isbn,genres,description,pages,year,language,cover_image,total_number_ratings,average_rating,book_url
5,NaN,None,None,NaN,[],None,0,2016,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/33785153-i...
6,NaN,None,None,NaN,[],None,0,2005,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/33785153-i...
17,NaN,None,None,NaN,[],None,0,2016,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/33785153-i...
19,NaN,None,None,NaN,[],None,0,2015,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/33785153-i...
29,NaN,None,None,NaN,[],None,0,2017,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/33785153-i...
34,NaN,None,None,NaN,[],None,0,2014,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/33785153-i...
36,NaN,None,None,NaN,[],None,0,1977,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/33785153-i...
59,NaN,None,None,NaN,[],None,0,2017,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/33785153-i...
64,NaN,None,None,NaN,[],None,0,2017,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/33785153-i...
77,NaN,None,None,NaN,[],None,0,2017,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/33785153-i...
81,NaN,None,None,NaN,[],None,0,2017,NaN,NaN,NaN,NaN,https://www.goodreads.com/book/show/33785153-i...

#### average_rating

In [6]:
cleaningdata['total_number_ratings'].value_counts()

5          4
6          4
1          4
7          3
17         3
          ..
47         1
124        1
237,638    1
109        1
252        1
Name: total_number_ratings, Length: 64, dtype: int64

In [9]:
cleaningdata['total_number_ratings'].isna().sum()
cleaningdata[cleaningdata['total_number_ratings'].isna()==True]

,title,series,authors,isbn,genres,description,pages,year,language,cover_image,total_number_ratings,average_rating
8,NaN,None,None,isbn not found,[],None,None,2009,NaN,NaN,NaN,NaN
17,NaN,None,None,isbn not found,[],None,None,2016,NaN,NaN,NaN,NaN
21,NaN,None,None,isbn not found,[],None,None,2016,NaN,NaN,NaN,NaN
30,NaN,None,None,isbn not found,[],None,None,NaN,NaN,NaN,NaN,NaN
48,NaN,None,None,isbn not found,[],None,None,2016,NaN,NaN,NaN,NaN
65,NaN,None,None,isbn not found,[],None,None,2013,NaN,NaN,NaN,NaN
80,NaN,None,None,isbn not found,[],None,None,2017,NaN,NaN,NaN,NaN
84,NaN,None,None,isbn not found,[],None,None,2017,NaN,NaN,NaN,NaN
86,NaN,None,None,isbn not found,[],None,None,2017,NaN,NaN,NaN,NaN

### Check out and change Datatypes

In [ ]:
cleaningdata.dtypes

**Categoricals:** title, series, authors, genres, description, language, cover_image, isbn(?) <br>
**Numericals:** pages, total_number_ratings, average_rating <br>
**Date:** year

In [ ]:
# Change to numerical columns 
funct.convert_data_types(cleaningdata,'number', incolumns=['pages','total_number_ratings','average_rating'])
cleaningdata.dtypes()

## Checkout Values in Columns

In [ ]:
for col in rawdata.select_dtypes(['int64','float64','object']):
    print(rawdata[col].value_counts(), '\n')

In [ ]:
#lower cases

In [ ]:
# Function for removing NonAscii characters
#def _removeNonAscii(s):
#    return "".join(i for i in s if  ord(i)<128)

# Function for converting into lower case
def make_lower_case(text):
    return text.lower()

# Function for removing stop words
def remove_stop_words(text):
    text = text.split()
    stops = set(stopwords.words("english"))
    text = [w for w in text if not w in stops]
    text = " ".join(text)
    return text

# Function for removing punctuation
def remove_punctuation(text):
    tokenizer = RegexpTokenizer(r'\w+')
    text = tokenizer.tokenize(text)
    text = " ".join(text)
    return text

# Function for removing the html tags
def remove_html(text):
    html_pattern = re.compile('<.*?>')
    return html_pattern.sub(r'', text)

# Applying all the functions in description and storing as a cleaned_desc
df['cleaned_desc'] = df['Desc'].apply(_removeNonAscii)
df['cleaned_desc'] = df.cleaned_desc.apply(func = make_lower_case)
df['cleaned_desc'] = df.cleaned_desc.apply(func = remove_stop_words)
df['cleaned_desc'] = df.cleaned_desc.apply(func=remove_punctuation)
df['cleaned_desc'] = df.cleaned_desc.apply(func=remove_html)