# Data Cleaning for Visualization

## Import Libraries

In [75]:
import pandas as pd
import Functions_Books as funct
import glob

## Import and check Dataframe

In [76]:
rawdata =pd.read_csv(r'DataFinal\DataCleaningaftercategorical.csv')
cleaningdata = rawdata.copy()
cleaningdata.head()

,Unnamed: 0,title,series,authors,isbn,genres,description,pages,year,language,cover_image,total_number_ratings,average_rating
0,0,To Kill a Mockingbird,To Kill a Mockingbird,'Harper Lee',1439550417,"'Classics', 'Fiction', 'Historical', 'Historic...",The unforgettable novel of a childhood in a sl...,324,1960,English,https://i.gr-assets.com/images/S/compressed.ph...,5011381,4.27
1,1,Harry Potter and the Sorcerer's Stone,Harry Potter #1,'J.K. Rowling',0,"'Fantasy', 'Fiction', 'Young Adult', 'Magic', ...",Harry Potter's life is miserable. His parents ...,309,1997,English,https://i.gr-assets.com/images/S/compressed.ph...,8003482,4.47
2,2,The Diary of a Young Girl,none,"'Anne Frank', 'Eleanor Roosevelt', 'Barbara Mo...",330107372,"'Nonfiction', 'Classics', 'History', 'Biograph...",Discovered in the attic in which she spent the...,283,1947,English,https://i.gr-assets.com/images/S/compressed.ph...,3088199,4.16
3,3,Animal Farm,none,"'George Orwell', 'Russell Baker', 'C.M. Woodho...",9780451526342,"'Classics', 'Fiction', 'Science Fiction', 'Dys...",Librarian's note: There is an Alternate Cover ...,141,1945,English,https://i.gr-assets.com/images/S/compressed.ph...,3095756,3.97
4,4,The Little Prince,none,"'Antoine de Saint-Exupéry', 'Richard Howard'",3125971403,"'Classics', 'Fiction', 'Fantasy', 'Childrens',...",A pilot stranded in the desert awakes one morn...,96,1943,English,https://i.gr-assets.com/images/S/compressed.ph...,1609561,4.31

In [77]:
cleaningdata.loc[900,:]

Unnamed: 0                                                            900
title                                             Hometown Girl After All
series                                                        Hometown #2
authors                                                 'Kirsten Fullmer'
isbn                                                        9781979854894
genres                  'Contemporary', 'Young Adult', 'New Adult', 'F...
description             Julia lost everything while she was ill. Self-...
pages                                                                 352
year                                                                 2017
language                                                          English
cover_image             https://i.gr-assets.com/images/S/compressed.ph...
total_number_ratings                                                 1000
average_rating                                                       4.31
Name: 900, dtype: object

In [78]:
cleaningdata.shape

(8431, 13)

In [79]:
cleaningdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8431 entries, 0 to 8430
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            8431 non-null   int64
 1   title                 8431 non-null   object
 2   series                8431 non-null   object
 3   authors               8431 non-null   object
 4   isbn                  8431 non-null   int64
 5   genres                7558 non-null   object
 6   description           7967 non-null   object
 7   pages                 8431 non-null   int64
 8   year                  8431 non-null   object
 9   language              8431 non-null   object
 10  cover_image           8382 non-null   object
 11  total_number_ratings  8431 non-null   int64
 12  average_rating        8431 non-null   float64
dtypes: float64(1), int64(4), object(8)
memory usage: 856.4+ KB

Categoricals: title, series, authors, genres, description, language, cover_image, isbn(?) <br>
Numericals: pages, total_number_ratings, average_rating <br>
Date: year

## Remove column "Unnamed:"

In [80]:
cleaningdata=cleaningdata.drop(columns='Unnamed: 0', axis=1)
cleaningdata.columns

Index(['title', 'series', 'authors', 'isbn', 'genres', 'description', 'pages',
       'year', 'language', 'cover_image', 'total_number_ratings',
       'average_rating'],
      dtype='object')

In [73]:
cleaningdata

,title,series,authors,isbn,genres,description,pages,year,language,cover_image,total_number_ratings,average_rating
0,To Kill a Mockingbird,To Kill a Mockingbird,'Harper Lee',1439550417,"'Classics', 'Fiction', 'Historical', 'Historic...",The unforgettable novel of a childhood in a sl...,324,1960,English,https://i.gr-assets.com/images/S/compressed.ph...,5011381,4.27
1,Harry Potter and the Sorcerer's Stone,Harry Potter #1,'J.K. Rowling',0,"'Fantasy', 'Fiction', 'Young Adult', 'Magic', ...",Harry Potter's life is miserable. His parents ...,309,1997,English,https://i.gr-assets.com/images/S/compressed.ph...,8003482,4.47
2,The Diary of a Young Girl,none,"'Anne Frank', 'Eleanor Roosevelt', 'Barbara Mo...",330107372,"'Nonfiction', 'Classics', 'History', 'Biograph...",Discovered in the attic in which she spent the...,283,1947,English,https://i.gr-assets.com/images/S/compressed.ph...,3088199,4.16
3,Animal Farm,none,"'George Orwell', 'Russell Baker', 'C.M. Woodho...",9780451526342,"'Classics', 'Fiction', 'Science Fiction', 'Dys...",Librarian's note: There is an Alternate Cover ...,141,1945,English,https://i.gr-assets.com/images/S/compressed.ph...,3095756,3.97
4,The Little Prince,none,"'Antoine de Saint-Exupéry', 'Richard Howard'",3125971403,"'Classics', 'Fiction', 'Fantasy', 'Childrens',...",A pilot stranded in the desert awakes one morn...,96,1943,English,https://i.gr-assets.com/images/S/compressed.ph...,1609561,4.31
...,...,...,...,...,...,...,...,...,...,...,...,...
8426,The Stove-Junker,none,'S.K. Kalsi',9780990779063,NaN,"In the winter of 2012, 79-year-old Somerset Ga...",338,2015,English,https://i.gr-assets.com/images/S/compressed.ph...,23,3.65
8427,The Treemakers,The Treemakers Trilogy #1,'Christina L. Rozelle',1508840466,"'Science Fiction', 'Dystopia', 'Fantasy', 'You...",This is a previously-published alternate cover...,288,2014,English,https://i.gr-assets.com/images/S/compressed.ph...,535,4.23
8428,100 Years: A Journey to End a Vicious Cycle,none,'Mark L. Baynard',9780986138003,NaN,"100 Years, A Journey to End a Vicious Cycle is...",290,2015,English,https://i.gr-assets.com/images/S/compressed.ph...,13,4.00
8429,Thrive: 30 Inspirational Rags-to-Riches Stories,none,'Jason Navallo',1511503882,"'Nonfiction', 'Self Help', 'Inspirational', 'B...",Thrive: 30 Inspirational Rags-to-Riches Storie...,100,2015,English,https://i.gr-assets.com/images/S/compressed.ph...,335,3.89
8430,The Smoke at Dawn,"Civil War: 1861-1865, Western Theater #3",'Jeff Shaara',9780345527417,"'Historical', 'Historical Fiction', 'Military ...",NEW YORK TIMESBESTSELLERJeff Shaara returns to...,495,2014,English,https://i.gr-assets.com/images/S/compressed.ph...,2365,4.26

## Clean column "pages"

In [81]:
cleaningdata['pages'].value_counts()

0       348
320     116
288     112
240      96
352      95
       ...
971       1
963       1
947       1
939       1
1559      1
Name: pages, Length: 961, dtype: int64

In [82]:
cleaningdata[cleaningdata['pages'].isna()==True]

Empty DataFrame
Columns: [title, series, authors, isbn, genres, description, pages, year, language, cover_image, total_number_ratings, average_rating]
Index: []

In [83]:
cleaningdata['pages'] = cleaningdata['pages'].fillna('0')
cleaningdata['pages'].isna().sum()

0

## Clean column "total_numer_ratings"

In [84]:
cleaningdata['total_number_ratings'].value_counts()

2        62
6        58
3        55
1        46
4        46
         ..
77263     1
9678      1
30156     1
7625      1
83967     1
Name: total_number_ratings, Length: 6371, dtype: int64

In [85]:
cleaningdata['total_number_ratings'].isna().sum()

0

In [86]:
cleaningdata[cleaningdata['total_number_ratings']=='0']

Empty DataFrame
Columns: [title, series, authors, isbn, genres, description, pages, year, language, cover_image, total_number_ratings, average_rating]
Index: []

### Generalize spelling in column - remove all ','

In [87]:
funct.replace_in_column(cleaningdata,"authors",",",'')

### Change data type of column to numerical

In [88]:
funct.convert_data_types(cleaningdata,'number', incolumns=['total_number_ratings'])

## Clean column "average_rating"

In [89]:
cleaningdata['average_rating'].value_counts()

4.00    187
4.18    131
4.17    130
4.13    129
4.12    127
       ...
4.82      1
3.06      1
2.82      1
2.75      1
3.04      1
Name: average_rating, Length: 211, dtype: int64

In [90]:
cleaningdata['average_rating'].isna().sum()
#cleaningdata[cleaningdata['average_rating'].isna()==True]

0

## Clean column "isbn"

### Remove null values

In [91]:
cleaningdata['isbn'] = cleaningdata['isbn'].fillna('0')

In [92]:
cleaningdata[cleaningdata['isbn'].isna()==True]

Empty DataFrame
Columns: [title, series, authors, isbn, genres, description, pages, year, language, cover_image, total_number_ratings, average_rating]
Index: []

In [93]:
cleaningdata.loc[3456,:]

title                                            We Are Bridges: A Memoir
series                                                               none
authors                                                    Cassandra Lane
isbn                                                        9781952177927
genres                            'Autobiography', 'Memoir', 'Nonfiction'
description             "In this evocative memoir, Cassandra Lane deft...
pages                                                                 232
year                                                                 2021
language                                                          English
cover_image             https://i.gr-assets.com/images/S/compressed.ph...
total_number_ratings                                                   45
average_rating                                                        4.2
Name: 3456, dtype: object

### Remove the .0 in the column

In [94]:
cleaningdata['isbn'] = cleaningdata['isbn'].astype(str).apply(lambda x: x.replace('.0',''))

In [95]:
funct.convert_data_types(cleaningdata,'number', incolumns=['isbn'])

In [96]:
cleaningdata['isbn'].dtypes

dtype('int64')

In [ ]:
#Checking isbns: aLL with isbn13 (digits13) and then all with digits 10 isbn 10 -open

In [ ]:
#remove duplicates? -open
duplicateRowsDF = cleaningdata[cleaningdata.duplicated(['title'],keep=False)]
duplicateRowsDF

## Clean column year

### Check value counts

In [97]:
#df[(x <= df['columnX']) & (df['columnX'] <= y)]
cleaningdata['year'].value_counts()

2013    570
2012    567
2014    529
2011    442
2015    296
       ...
1824      1
1877      1
1074      1
1767      1
1635      1
Name: year, Length: 323, dtype: int64

In [31]:
cleaningdata.to_csv(r'DataFinal\DataCleaningbeforecateorigcal.csv')

### Change datatype

In [29]:
#funct.convert_data_types(cleaningdata, 'date', incolumns=['year']) -open

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1597-01-01 00:00:00

## Clean column Series

A lot of empty data, as not all books are part of a series

In [98]:
cleaningdata['series'] = cleaningdata['series'].astype(str).apply(lambda x: x.replace('[',''))

In [99]:
cleaningdata['series'] = cleaningdata['series'].astype(str).apply(lambda x: x.replace(']',''))

In [100]:
cleaningdata['series'] = cleaningdata['series'].astype(str).apply(lambda x: x.replace("'",''))

In [101]:
funct.replace_in_column(cleaningdata,'series','nan','none')

In [102]:
cleaningdata[cleaningdata['series'].isna()==True]

Empty DataFrame
Columns: [title, series, authors, isbn, genres, description, pages, year, language, cover_image, total_number_ratings, average_rating]
Index: []

In [103]:
cleaningdata['series'].value_counts()

none                         5629
The Chronicles of Narnia        6
James Bond                      5
Hainish Cycle                   5
Bird Brain                      5
                             ...
Ravens Shadow #1                1
The Raven Cycle #3              1
The Bridge Chronicles #1        1
Cotton Malone #2                1
I Hunt Killers #1               1
Name: series, Length: 2690, dtype: int64

## Clean column "authors"

In [104]:
cleaningdata['authors'] = cleaningdata['authors'].astype(str).apply(lambda x: x.replace('[',''))

In [105]:
cleaningdata['authors'] = cleaningdata['authors'].astype(str).apply(lambda x: x.replace(']',''))

In [106]:
funct.replace_in_column(cleaningdata,'authors',"'",'')

In [107]:
cleaningdata['authors'].value_counts()

Stephen King                                                                   42
Terry Pratchett                                                                29
David Baldacci                                                                 23
Lucian Bane                                                                    21
Rick Riordan                                                                   20
                                                                               ..
Patrick Süskind, John E. Woods                                                  1
S.L. Bhyrappa, Vishwas, எஸ்.எல்.பைரப்பா, ಎಸ್.ಎಲ್. ಭೈರಪ್ಪ, ஜெயா வெங்கட்ராமன்     1
Vladimir Nabokov, Dmitri Nabokov                                                1
Juls Amor                                                                       1
Tina Traverse                                                                   1
Name: authors, Length: 5932, dtype: int64

## Clean column language

In [108]:
cleaningdata['language'].value_counts()

English               7606
none                   542
Arabic                  55
French                  37
German                  31
Spanish                 29
Persian                 17
Portuguese              16
Dutch                   14
Polish                  12
Romanian                 7
Italian                  7
Turkish                  7
Indonesian               6
Multiple languages       5
Swedish                  4
Greek                    4
Tamil                    3
Hindi                    2
Malayalam                2
Finnish                  2
Filipino, Pilipino       2
Urdu                     2
Russian                  2
Ukrainian                2
Creek                    1
Gujarati                 1
Catalan, Valencian       1
Serbian                  1
Scots                    1
Danish                   1
Croatian                 1
Malay                    1
Hungarian                1
Tagalog                  1
Norwegian                1
Bulgarian                1
Telugu                   1
Japanese                 1
Kannada                  1
Name: language, dtype: int64

In [109]:
cleaningdata['language'] = cleaningdata['language'].astype(str).apply(lambda x: x.replace('Bokmål, Norwegian; Norwegian Bokmål','Norwegian'))

In [110]:
cleaningdata['language'] = cleaningdata['language'].astype(str).apply(lambda x: x.replace('Greek, Modern (1453-)','Greek'))

In [111]:
cleaningdata['language'] = cleaningdata['language'].astype(str).apply(lambda x: x.replace(';',','))

In [112]:
cleaningdata['language'] = cleaningdata['language'].astype(str).apply(lambda x: x.replace('nan','none'))

## Clean column 'Genres'

In [131]:
cleaningdata['genres'].value_counts()

none                                                                                                                                                                                873
Fiction                                                                                                                                                                              40
Fantasy                                                                                                                                                                              32
Nonfiction                                                                                                                                                                           20
Romance                                                                                                                                                                              20
                                                                                                                                                                                   ...
Young Adult, Fantasy, Paranormal, Romance, Urban Fantasy, Fiction, Vampires, Supernatural, Angels, Magic                                                                              1
Food and Drink, Cookbooks, Cooking, Culinary, New Adult, Adult                                                                                                                        1
Plays, Drama, Theatre, LGBT, Fiction, Queer, Classics, Fantasy, Religion, Gay                                                                                                         1
Classics, Fiction, Short Stories, Literature, European Literature, Italian Literature, Cultural, Italy, Historical, Medieval, Historical Fiction, 14th Century, Academic, School      1
Fiction, Romance, Contemporary, Relationships                                                                                                                                         1
Name: genres, Length: 6977, dtype: int64

In [137]:
cleaningdata['genres'] = cleaningdata['genres'].astype(str).apply(lambda x: x.replace('[',''))

In [138]:
cleaningdata['genres'] = cleaningdata['genres'].astype(str).apply(lambda x: x.replace(']',''))

In [139]:
cleaningdata['genres'] = cleaningdata['genres'].astype(str).apply(lambda x: x.replace("'",''))

In [140]:
cleaningdata[cleaningdata['genres']== 'nan']#873 with genres = 'nan'

Empty DataFrame
Columns: [title, series, authors, isbn, genres, description, pages, year, language, cover_image, total_number_ratings, average_rating]
Index: []

In [141]:
cleaningdata['genres'] = cleaningdata['genres'].astype(str).apply(lambda x: x.replace("nan",'none'))

In [142]:
cleaningdata.head()

,title,series,authors,isbn,genres,description,pages,year,language,cover_image,total_number_ratings,average_rating
0,To Kill a Mockingbird,To Kill a Mockingbird,Harper Lee,1439550417,"Classics, Fiction, Historical, Historical Fict...",The unforgettable novel of a childhood in a sl...,324,1960,English,https://i.gr-assets.com/images/S/compressed.ph...,5011381,4.27
1,Harry Potter and the Sorcerer's Stone,Harry Potter #1,J.K. Rowling,0,"Fantasy, Fiction, Young Adult, Magic, Children...",Harry Potter's life is miserable. His parents ...,309,1997,English,https://i.gr-assets.com/images/S/compressed.ph...,8003482,4.47
2,The Diary of a Young Girl,none,"Anne Frank, Eleanor Roosevelt, Barbara Mooyaar...",330107372,"Nonfiction, Classics, History, Biography, Auto...",Discovered in the attic in which she spent the...,283,1947,English,https://i.gr-assets.com/images/S/compressed.ph...,3088199,4.16
3,Animal Farm,none,"George Orwell, Russell Baker, C.M. Woodhouse",9780451526342,"Classics, Fiction, Science Fiction, Dystopia, ...",Librarian's note: There is an Alternate Cover ...,141,1945,English,https://i.gr-assets.com/images/S/compressed.ph...,3095756,3.97
4,The Little Prince,none,"Antoine de Saint-Exupéry, Richard Howard",3125971403,"Classics, Fiction, Fantasy, Childrens, Cultura...",A pilot stranded in the desert awakes one morn...,96,1943,English,https://i.gr-assets.com/images/S/compressed.ph...,1609561,4.31

## Save cleaned data to csv file

In [143]:
cleaningdata.to_csv(r'DataFinal\DataCleanedFinal.csv')