# Data Cleaning for Visualization

## Import Libraries

In [2]:
import pandas as pd
import Functions_Books as funct
import glob

## Import and check Dataframe

In [3]:
rawdata =pd.read_csv(r'DataFinal\data_cleaninggeneral_afternumericals.csv')
cleaningdata = rawdata.copy()
cleaningdata.head()

,Unnamed: 0,title,series,authors,isbn,genres,description,pages,year,language,cover_image,total_number_ratings,average_rating
0,0,To Kill a Mockingbird,To Kill a Mockingbird,['Harper Lee'],1.439550e+09,"['Classics', 'Fiction', 'Historical', 'Histori...",The unforgettable novel of a childhood in a sl...,324,1960,English,https://i.gr-assets.com/images/S/compressed.ph...,5011381,4.27
1,1,Harry Potter and the Sorcerer's Stone,Harry Potter #1,['J.K. Rowling'],0.000000e+00,"['Fantasy', 'Fiction', 'Young Adult', 'Magic',...",Harry Potter's life is miserable. His parents ...,309,1997,English,https://i.gr-assets.com/images/S/compressed.ph...,8003482,4.47
2,2,The Diary of a Young Girl,NaN,"['Anne Frank', 'Eleanor Roosevelt', 'Barbara M...",3.301074e+08,"['Nonfiction', 'Classics', 'History', 'Biograp...",Discovered in the attic in which she spent the...,283,1947,English,https://i.gr-assets.com/images/S/compressed.ph...,3088199,4.16
3,3,Animal Farm,NaN,"['George Orwell', 'Russell Baker', 'C.M. Woodh...",9.780452e+12,"['Classics', 'Fiction', 'Science Fiction', 'Dy...",Librarian's note: There is an Alternate Cover ...,141,1945,English,https://i.gr-assets.com/images/S/compressed.ph...,3095756,3.97
4,4,The Little Prince,NaN,"['Antoine de Saint-Exupéry', 'Richard Howard']",3.125971e+09,"['Classics', 'Fiction', 'Fantasy', 'Childrens'...",A pilot stranded in the desert awakes one morn...,96,1943,English,https://i.gr-assets.com/images/S/compressed.ph...,1609561,4.31

In [59]:
cleaningdata.loc[900,:]

title                                             Hometown Girl After All
series                                                        Hometown #2
authors                                                 'Kirsten Fullmer'
isbn                                                      9781979854894.0
genres                  'Contemporary', 'Young Adult', 'New Adult', 'F...
description             Julia lost everything while she was ill. Self-...
pages                                                                 352
year                                                                 2017
language                                                          English
cover_image             https://i.gr-assets.com/images/S/compressed.ph...
total_number_ratings                                                 1000
average_rating                                                       4.31
Name: 900, dtype: object

In [6]:
cleaningdata.shape

(8431, 13)

In [7]:
cleaningdata.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8431 entries, 0 to 8430
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            8431 non-null   int64
 1   title                 8431 non-null   object
 2   series                2802 non-null   object
 3   authors               8431 non-null   object
 4   isbn                  8431 non-null   float64
 5   genres                8431 non-null   object
 6   description           7967 non-null   object
 7   pages                 8431 non-null   int64
 8   year                  8431 non-null   object
 9   language              7889 non-null   object
 10  cover_image           8382 non-null   object
 11  total_number_ratings  8431 non-null   int64
 12  average_rating        8431 non-null   float64
dtypes: float64(2), int64(3), object(8)
memory usage: 856.4+ KB

Categoricals: title, series, authors, genres, description, language, cover_image, isbn(?) <br>
Numericals: pages, total_number_ratings, average_rating <br>
Date: year

## Remove column "Unnamed:"

In [8]:
cleaningdata=cleaningdata.drop(columns='Unnamed: 0', axis=1)
cleaningdata.columns

Index(['title', 'series', 'authors', 'isbn', 'genres', 'description', 'pages',
       'year', 'language', 'cover_image', 'total_number_ratings',
       'average_rating'],
      dtype='object')

## Clean column "pages"

In [9]:
cleaningdata['pages'].value_counts()

0       348
320     116
288     112
240      96
352      95
       ...
971       1
963       1
947       1
939       1
1559      1
Name: pages, Length: 961, dtype: int64

In [11]:
cleaningdata[cleaningdata['pages'].isna()==True]

Empty DataFrame
Columns: [title, series, authors, isbn, genres, description, pages, year, language, cover_image, total_number_ratings, average_rating]
Index: []

In [12]:
cleaningdata['pages'] = cleaningdata['pages'].fillna('0')
cleaningdata['pages'].isna().sum()

0

## Clean column "total_numer_ratings"

In [13]:
cleaningdata['total_number_ratings'].value_counts()

2        62
6        58
3        55
1        46
4        46
         ..
77263     1
9678      1
30156     1
7625      1
83967     1
Name: total_number_ratings, Length: 6371, dtype: int64

In [14]:
cleaningdata['total_number_ratings'].isna().sum()

0

In [15]:
cleaningdata[cleaningdata['total_number_ratings']=='0']

Empty DataFrame
Columns: [title, series, authors, isbn, genres, description, pages, year, language, cover_image, total_number_ratings, average_rating]
Index: []

### Generalize spelling in column - remove all ','

In [16]:
funct.replace_in_column(cleaningdata,"total_number_ratings",',','')

AttributeError: Can only use .str accessor with string values!

### Change data type of column to numerical

In [17]:
funct.convert_data_types(cleaningdata,'number', incolumns=['total_number_ratings'])

## Clean column "average_rating"

In [18]:
cleaningdata['average_rating'].value_counts()

4.00    187
4.18    131
4.17    130
4.13    129
4.12    127
       ...
4.82      1
3.06      1
2.82      1
2.75      1
3.04      1
Name: average_rating, Length: 211, dtype: int64

In [19]:
cleaningdata['average_rating'].isna().sum()
#cleaningdata[cleaningdata['average_rating'].isna()==True]

0

## Clean column "isbn"

### Remove null values

In [20]:
cleaningdata['isbn'] = cleaningdata['isbn'].fillna('0')

In [21]:
cleaningdata[cleaningdata['isbn'].isna()==True]

Empty DataFrame
Columns: [title, series, authors, isbn, genres, description, pages, year, language, cover_image, total_number_ratings, average_rating]
Index: []

In [62]:
cleaningdata.loc[3456,:]

title                                            We Are Bridges: A Memoir
series                                                               none
authors                                                  'Cassandra Lane'
isbn                                                        9781952177927
genres                            'Autobiography', 'Memoir', 'Nonfiction'
description             "In this evocative memoir, Cassandra Lane deft...
pages                                                                 232
year                                                                 2021
language                                                          English
cover_image             https://i.gr-assets.com/images/S/compressed.ph...
total_number_ratings                                                   45
average_rating                                                        4.2
Name: 3456, dtype: object

### Remove the .0 in the column

In [61]:
cleaningdata['isbn'] = cleaningdata['isbn'].astype(str).apply(lambda x: x.replace('.0',''))

In [24]:
funct.convert_data_types(cleaningdata,'number', incolumns=['isbn'])

In [25]:
cleaningdata['isbn'].dtypes

dtype('float64')

In [ ]:
#Checking isbns: aLL with isbn13 (digits13) and then all with digits 10 isbn 10 -open

In [ ]:
#remove duplicates? -open
duplicateRowsDF = cleaningdata[cleaningdata.duplicated(['title'],keep=False)]
duplicateRowsDF

## Clean column year

### Check value counts

In [63]:
#df[(x <= df['columnX']) & (df['columnX'] <= y)]
cleaningdata['year'].value_counts()

2013    570
2012    567
2014    529
2011    442
2015    296
       ...
1824      1
1877      1
1074      1
1767      1
1635      1
Name: year, Length: 323, dtype: int64

In [31]:
cleaningdata.to_csv(r'DataFinal\DataCleaningbeforecateorigcal.csv')

### Change datatype

In [29]:
#funct.convert_data_types(cleaningdata, 'date', incolumns=['year']) -open

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 1597-01-01 00:00:00

## Clean column Series

A lot of empty data, as not all books are part of a series

In [32]:
cleaningdata['series'] = cleaningdata['series'].astype(str).apply(lambda x: x.replace('[',''))

In [33]:
cleaningdata['series'] = cleaningdata['series'].astype(str).apply(lambda x: x.replace(']',''))

In [34]:
cleaningdata['series'] = cleaningdata['series'].astype(str).apply(lambda x: x.replace('',''))

In [36]:
funct.replace_in_column(cleaningdata,'series','nan','none')

In [37]:
cleaningdata[cleaningdata['series'].isna()==True]

Empty DataFrame
Columns: [title, series, authors, isbn, genres, description, pages, year, language, cover_image, total_number_ratings, average_rating]
Index: []

In [38]:
cleaningdata['series'].value_counts()

none                         5629
The Chronicles of Narnia        6
Hainish Cycle                   5
Bird Brain                      5
James Bond                      5
                             ...
The Bridge Chronicles #1        1
Cotton Malone #2                1
Firebird #1                     1
The Deptford Trilogy #1         1
I Hunt Killers #1               1
Name: series, Length: 2690, dtype: int64

## Clean column "authors"

In [39]:
cleaningdata['authors'] = cleaningdata['authors'].astype(str).apply(lambda x: x.replace('[',''))

In [40]:
cleaningdata['authors'] = cleaningdata['authors'].astype(str).apply(lambda x: x.replace(']',''))

In [41]:
funct.replace_in_column(cleaningdata,'authors','','') #- How do I do that?

SyntaxError: EOF while scanning triple-quoted string literal (<ipython-input-41-97035d815404>, line 1)

In [42]:
cleaningdata['authors'].value_counts()

'Stephen King'                        42
'Terry Pratchett'                     29
'David Baldacci'                      23
'Lucian Bane'                         21
'John Grisham'                        20
                                      ..
'Robert M. Pirsig'                     1
'Alan Aronoff'                         1
'Tracy Kidder'                         1
'Kelli Sullivan'                       1
'Xavier de Montepin', 'رحاب عكاوي'     1
Name: authors, Length: 5932, dtype: int64

## Clean column language

In [51]:
cleaningdata['language'].value_counts()

English               7606
none                   542
Arabic                  55
French                  37
German                  31
Spanish                 29
Persian                 17
Portuguese              16
Dutch                   14
Polish                  12
Romanian                 7
Italian                  7
Turkish                  7
Indonesian               6
Multiple languages       5
Swedish                  4
Greek                    4
Tamil                    3
Hindi                    2
Malayalam                2
Finnish                  2
Filipino, Pilipino       2
Urdu                     2
Russian                  2
Ukrainian                2
Creek                    1
Gujarati                 1
Catalan, Valencian       1
Serbian                  1
Scots                    1
Danish                   1
Croatian                 1
Malay                    1
Hungarian                1
Tagalog                  1
Norwegian                1
Bulgarian                1
Telugu                   1
Japanese                 1
Kannada                  1
Name: language, dtype: int64

In [44]:
cleaningdata['language'] = cleaningdata['language'].astype(str).apply(lambda x: x.replace('Bokmål, Norwegian; Norwegian Bokmål','Norwegian'))

In [46]:
cleaningdata['language'] = cleaningdata['language'].astype(str).apply(lambda x: x.replace('Greek, Modern (1453-)','Greek'))

In [48]:
cleaningdata['language'] = cleaningdata['language'].astype(str).apply(lambda x: x.replace(';',','))

In [50]:
cleaningdata['language'] = cleaningdata['language'].astype(str).apply(lambda x: x.replace('nan','none'))

## Clean column 'Genres'

In [52]:
cleaningdata['genres'] = cleaningdata['genres'].astype(str).apply(lambda x: x.replace('[',''))

In [53]:
cleaningdata['genres'] = cleaningdata['genres'].astype(str).apply(lambda x: x.replace(']',''))

In [67]:
cleaningdata[cleaningdata['genres']== '']#873 with genres = ''

,title,series,authors,isbn,genres,description,pages,year,language,cover_image,total_number_ratings,average_rating
561,Life Song,none,'Christine M. Knight',9780987434852,,Overview: Mavis was born to be a songbird. Her...,338,2013,none,https://i.gr-assets.com/images/S/compressed.ph...,80,4.15
880,Song Bird: Matters of the Heart,none,'Christine M. Knight',9780987434869,,"“I’m not Mavis anymore.”For years, song bird N...",304,2015,English,https://i.gr-assets.com/images/S/compressed.ph...,41,4.49
941,Diya aur baati hum,none,'Snehlata Agarwala',1091944040,,What had happened to the ever so confident Dha...,0,2020,none,https://i.gr-assets.com/images/S/compressed.ph...,117,4.76
1324,"Why They Stay: Sex Scandals, Deals, and Hidden...",none,'Anne Michaud',0,,None,0,2021,none,https://i.gr-assets.com/images/S/compressed.ph...,101,4.40
1361,Big Money: A Global Financial Thriller (Financ...,none,'James Hudson',0,,🔥🌟⚡George Hartley wakes up and realizes that h...,0,2020,English,https://i.gr-assets.com/images/S/compressed.ph...,52,4.17
...,...,...,...,...,...,...,...,...,...,...,...,...
8419,They're Not Coming...: An Evolutionary Analysi...,none,'Sheila Robinson-Kiss',1631730932,,"From our connections with our friends, family,...",244,2014,English,https://i.gr-assets.com/images/S/compressed.ph...,3,4.00
8420,The Elemental Master,none,'Glen Garrett',0,,NaN,0,2013,English,https://i.gr-assets.com/images/S/compressed.ph...,6,4.83
8421,Innocent Blood,none,'Louann Carroll',9781941637128,,Danny Fisk has a secret no one outside his fam...,263,2015,English,https://i.gr-assets.com/images/S/compressed.ph...,11,4.27
8426,The Stove-Junker,none,'S.K. Kalsi',9780990779063,,"In the winter of 2012, 79-year-old Somerset Ga...",338,2015,English,https://i.gr-assets.com/images/S/compressed.ph...,23,3.65
8428,100 Years: A Journey to End a Vicious Cycle,none,'Mark L. Baynard',9780986138003,,"100 Years, A Journey to End a Vicious Cycle is...",290,2015,English,https://i.gr-assets.com/images/S/compressed.ph...,13,4.00

In [68]:
cleaningdata.to_csv(r'DataFinal\DataCleaningaftercategorical.csv')